/* <li> */
.nav-item {
    /* width: calc(var(--nav-size) * 0.8); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

/* Icon Button */
.icon-button {
    /* --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size); */
    /* background-color: #d4d4d4; */
    border-radius: 10%;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.1);
}

.nav-icon {
    display: none;
}

.nav-title {
    font-weight: bold;
}

.icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}
