.banner-container {
    background-image: url("https://i.ibb.co/qNrGqKr/v870-tang-36.jpg");
    background-size: cover;
    height: 100vh;
    padding: 0 10vw;
}

.banner-text-container {
    text-align: left;
}

.banner-img-container {
    position: relative;
}

.banner-img-1 {
    border: 10px solid white;
    border-radius: 10px;
}

.banner-img-2 {
    position: absolute;
    width: 200px;
    bottom: -90px;
    right: -140px;
    z-index: 2;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.banner-img-3 {
    position: absolute;
    width: 300px;
    z-index: 1;
    border: 7px solid white;
    bottom: -50px;
    right: -100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
