body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

:root {
    --bg: #e9e9e9;
    --bg-accent: #818181;
    --text-color: #5e5e5e;
    --nav-size: 60px;
    --border: 2px solid #cecece;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* instead of anchor tag */
button {
    color: var(--text-color);
    border: none;
    background-color: var(--bg);
}
